* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: rgb(53, 87, 121);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.logo img {
  height: 40px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #090f24;
}


main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 4rem;
}

footer {
  background-color: #090f24;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.profile {
  margin: 20px;
  padding: 20px;
  background-color: rgb(53, 87, 121);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.detailsandlogout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 4rem;
  justify-content: space-evenly;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 4rem;
  justify-content: space-evenly;
}

.movie-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.profileimg {
  height: 100px;
  width: auto;
}

.movie {
  background-color: #fff;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.movie:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.details {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(53, 87, 121);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-left: -20px;
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nameofmovie {
  background-color: rgb(53, 87, 121);
  color: #fff;
  height:auto;
  min-height: 50%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.director {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.image {
  height: 200px;
  width: auto;
  border-radius: 10px;
}

.movie.image {
  width: 40%;
}

.favmovies {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.detbtn {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.addbtn {
  height: 30px;
  width: auto;
  display: flex;
  align-items: flex-start;
}

.addbtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.logoutbtn {
  height: 50px;
  width: auto;
}

.logoutbtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

@media (max-width: 1100px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .movie-list {
    grid-template-columns: repeat(1, 1fr);
  }
}